<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.clothwholesale.mapper.WarehouseMapper" >
  <resultMap id="BaseResultMap" type="com.ncu.clothwholesale.pojo.Warehouse" >
    <id column="warehouseCode" property="warehouseCode" jdbcType="CHAR" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    warehouseCode, capacity, state, inventory
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ncu.clothwholesale.pojo.WarehouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from warehouse
    where warehouseCode = #{warehouseCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from warehouse
    where warehouseCode = #{warehouseCode,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncu.clothwholesale.pojo.WarehouseExample" >
    delete from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncu.clothwholesale.pojo.Warehouse" >
    insert into warehouse (warehouseCode, capacity, state, 
      inventory)
    values (#{warehouseCode,jdbcType=CHAR}, #{capacity,jdbcType=INTEGER}, #{state,jdbcType=CHAR}, 
      #{inventory,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ncu.clothwholesale.pojo.Warehouse" >
    insert into warehouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="warehouseCode != null" >
        warehouseCode,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="inventory != null" >
        inventory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="warehouseCode != null" >
        #{warehouseCode,jdbcType=CHAR},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="inventory != null" >
        #{inventory,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncu.clothwholesale.pojo.WarehouseExample" resultType="java.lang.Integer" >
    select count(*) from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update warehouse
    <set >
      <if test="record.warehouseCode != null" >
        warehouseCode = #{record.warehouseCode,jdbcType=CHAR},
      </if>
      <if test="record.capacity != null" >
        capacity = #{record.capacity,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.inventory != null" >
        inventory = #{record.inventory,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update warehouse
    set warehouseCode = #{record.warehouseCode,jdbcType=CHAR},
      capacity = #{record.capacity,jdbcType=INTEGER},
      state = #{record.state,jdbcType=CHAR},
      inventory = #{record.inventory,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncu.clothwholesale.pojo.Warehouse" >
    update warehouse
    <set >
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="inventory != null" >
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
    </set>
    where warehouseCode = #{warehouseCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncu.clothwholesale.pojo.Warehouse" >
    update warehouse
    set capacity = #{capacity,jdbcType=INTEGER},
      state = #{state,jdbcType=CHAR},
      inventory = #{inventory,jdbcType=INTEGER}
    where warehouseCode = #{warehouseCode,jdbcType=CHAR}
  </update>


  <select id="listByCondition" parameterType="java.util.HashMap"
		resultType="java.util.HashMap" >
  	select * from warehouse  
  	where 1= 1
  	<if test="warehouseCode != null and warehouseCode !='' ">and warehouseCode like concat('%',#{warehouseCode},'%') </if>
	<if test="state != null and state !='' ">and state like concat('%',#{state},'%') </if>  
 	order by warehouseCode asc
  </select>
</mapper>